//font
$ft-info: #414141;
$ft-white: #ffffff;
$ft-lightgray: #b8b8b8;
$ft-gray: #a5a5a5;
$ft-black: #000000;

//border
$bd-gray: #707070;
$bd-lightgray: #b8b8b8;
$bd-line: #b8b8b8;

//background
$bg-main: #a798f8;
$bg-gray: #e8e8e8;
$bg-black: #000000;
$bg-white: #ffffff;
